{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Developer's Note: this is an atomic adjustment of the 8.4.x version of core/modules/system/templates/breadcrumb.html.twig
 * See also: patterns/01-atoms/links/breadcrumb-item/_breadcrumb-item.html.twig
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/breadcrumb.html.twig
 */
#}
{# @Component
name: Breadcrumb
group: 02 Molecules>Menus
samples:
  Default:
    breadcrumb:
      - url: '#'
        text: Home
      - url: ''
        text: Test
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      {% include "@atoms/00-links/breadcrumb-item/_breadcrumb-item.html.twig" %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
