{#
/**
 * @file
 * Default theme implementation for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/textarea.html.twig
 */
#}
{# @Component
name: Textarea
group: 01 Atoms>04 Form Elements
samples:
  Textarea:
    wrapper_attributes: "~attributes({})"
    attributes: "~attributes({
      type: 'textarea',
      id: 'edit-this-textarea',
      name: 'this-textarea',
    })"
  Comment:
    wrapper_attributes: "~attributes({})"
    attributes: "~attributes({
      class: ['text-full', 'form-textarea'],
      id: 'edit-comment-body-0-value',
      name: 'comment_body[0][value]',
      rows: '5',
      cols: '60',
      placeholder: '',
    })"
#}
{% include 'core/modules/system/templates/textarea.html.twig' %}
