{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 *
 * Original file: core/modules/system/templates/block--local-actions-block.html.twig
 */
#}
{# @Component
name: Local Actions
group: 03 Organisms>Menus
samples:
  Default:
    content: "TODO: Drupal-like examples"
#}
{% include 'core/modules/system/templates/block--local-actions-block.html.twig' %}
