{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/maintenance-page.html.twig
 */
#}
{# @Component
name: Maintenance
group: 05 Pages
samples:
  Default:
    front_page: '#'
    logo: ~asset('logo.png')
    site_name: Site Name
    site_slogan: This Site's Purpose!
    title: Site Under Maintenance
    page:
      content: "Mannequin Test is currently under maintenance. We should be back shortly. Thank you for your patience."
#}
{% include 'core/modules/system/templates/maintenance-page.html.twig' %}
