{#
/**
 * @file
 * Default theme implementation of a link with separate title and URL elements.
 *
 * Available variables:
 * - link: The link that has already been formatted by l().
 * - title: (optional) A descriptive or alternate title for the link, which may
 *   be different than the actual link text.
 *
 * Custom attributes:
 * - anchor_attributes: needs to be instantiated in a hook_preprocess_link_formatter_link_separate()
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_link_separate()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/link/templates/link-formatter-link-separate.html.twig
 */
#}
{# @Component
name: Link
group: 01 Atoms>00 Links
samples:
  Simple:
    title: Simple link text
    url: '#'
#}
{% set options = options|default({}) %}
{{ link(title, url, options) }}