{#
/**
 * @file
 * Default theme implementation for the node created field.
 *
 * This is an override of field.html.twig for the node created field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 *
 * @ingroup themeable
 *
 * Original file: core/modules/node/templates/field--node--title.html.twig
 */
#}
{# @Component
name: Span
group: 01 Atoms>01 Text
samples:
  Content-Title:
    attributes: "~attributes({
      property: 'schema:name',
    })"
    items:
      - content: This is a node title
  Content-Created:
    attributes: "~attributes({
      datetime: '2018-02-20T08:00:00Z',
    })"
    items:
      - content: February 20, 2018 12:00am PST
  Content-Author:
    attributes: "~attributes({
      rel: 'schema:author',
    })"
    items:
      - content: ~sample('@atoms/01-text/username/_username.html.twig#Linked')
#}
{% include 'core/modules/node/templates/field--node--title.html.twig' %}
