{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/region.html.twig
 */
#}
{# @Component
name: Region
group: 04 Communities
samples:
  Default:
    content: 'Region Content'
  Header-Wireframe:
    region: header
    content: 'Header Region'
  Primary-Menu-Wireframe:
    region: primary_menu
    content: 'Primary Menu Region'
  Secondary-Menu-Wireframe:
    region: seconary_menu
    content: 'Secondary Menu Region'
  Highlighted-Wireframe:
    region: highlighted
    content: 'Highlighted Region'
  Help-Wireframe:
    region: help
    content: 'Help Region'
  Content-Wireframe:
    region: content
    content: 'Content Region'
  Sidebar-First-Wireframe:
    region: sidebar_first
    content: 'First Sidebar Region'
  Sidebar-Second-Wireframe:
    region: sidebar_second
    content: 'Second Sidebar Region'
  Footer-Wireframe:
    region: footer
    content: 'Footer Region'
  Breadcrumb-Wireframe:
    region: breadcrumb
    content: 'Breadcrumb Region'
    TODO: Samples with realistic content
#}
{# Below is an example customization. Remove or keep at your discretion. #}
{% set attributes = attributes.addClass([
  'region',
  region ? 'region--' ~ region|clean_class,
]) %}
{% include 'core/modules/system/templates/region.html.twig' %}
