{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.

 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/menu-local-tasks.html.twig
 */
#}
{# @Component
name: Local Tasks
group: 02 Molecules>Menus
samples:
  Primary:
    primary:
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#View")
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#Edit")
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#Delete")
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#Revisions")
  Secondary:
    secondary:
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#View")
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#Edit")
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#Delete")
      - ~sample("@patterns/01-atoms/00-links/local-task/_local-task.html.twig#Revisions")
#}
{% include 'core/modules/system/templates/menu-local-tasks.html.twig' %}
