{#
/**
 * @file
 * Default theme implementation for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/checkboxes.html.twig
 */
 @todo: remove this file once https://www.drupal.org/node/1819284 is resolved.
 This is identical to core/modules/system/templates/container.html.twig
#}
{% include '@molecules/form-elements/checkboxes/_checkboxes.html.twig' %}
