{#
/**
 * @file
 * Default theme implementation for a set of filter tips.
 *
 * Available variables:
 * - tips: Descriptions and a CSS ID in the form of 'module-name/filter-id'
 *   (only used when 'long' is TRUE) for each filter in one or more text
 *   formats.
 * - long: A flag indicating whether the passed-in filter tips contain extended
 *   explanations, i.e. intended to be output on the path 'filter/tips'
 *   (TRUE), or are in a short format, i.e. suitable to be displayed below a
 *   form element. Defaults to FALSE.
 * - multiple: A flag indicating there is more than one filter tip.
 *
 * @see template_preprocess_filter_tips()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/filter/templates/filter-tips.html.twig
 */
#}
{% include '@atoms/02-lists/text-filter-guidelines/_text-filter-tips.html.twig' %}
