{#
/**
 * @file
 * Default theme implementation for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/form-element-label.html.twig
 */
#}
{% include '@atoms/01-text/form-element-label/_form-element-label.html.twig' %}
