{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/form.html.twig
 */
#}
{% include '@organisms/forms/form/_form.html.twig' %}
