{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/input.html.twig
 */
#}
{% include '@atoms/04-form-elements/input/_input.html.twig' %}
