{#
/**
 * @file
 * Default theme implementation for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/radios.html.twig
 */
#}
{% include '@molecules/form-elements/radios/_radios.html.twig' %}
