{#
/**
 * @file
 * Default theme implementation for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/select.html.twig
 */
#}
{% include '@atoms/04-form-elements/select/_select.html.twig' %}
