{#
/**
 * @file
 * Default theme implementation of a responsive image.
 *
 * Available variables:
 * - sources: The attributes of the <source> tags for this <picture> tag.
 * - img_element: The controlling image, with the fallback image in srcset.
 * - output_image_tag: Whether or not to output an <img> tag instead of a
 *   <picture> tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_responsive_image()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/responsive_image/templates/responsive-image.html.twig
 */
#}
{# @Component
name: Responsive Image
group: 01 Atoms>03 Images
samples:
  SrcSet:
    output_image_tag: true
    img_element: ~sample('@patterns/01-atoms/03-images/image/_image.html.twig#SrcSet')
  Picture:
    output_image_tag: false
    img_element: ~sample('@patterns/01-atoms/03-images/image/_image.html.twig#400')
    sources:
      - "~attributes({
        srcset: asset('images/_samples/space-pirate-ship-200.jpg'),
        media: '(max-width: 400px)',
      })"
      - "~attributes({
        srcset: asset('images/_samples/space-pirate-ship-400.jpg'),
        media: '(max-width: 800px)',
      })"
      - "~attributes({
        srcset: asset('images/_samples/space-pirate-ship-800.jpg'),
        media: '(max-width: 1290px)',
      })"
      - "~attributes({
        srcset: asset('images/_samples/space-pirate-ship-1290.jpg'),
        media: '(min-width: 1290px)',
      })"
#}
{% include 'core/modules/responsive_image/templates/responsive-image.html.twig' %}
