{#
/**
 * @file
 * Default theme implementation for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/form-element-label.html.twig
 */
#}
{# @Component
name: Form Element Label
group: 01 Atoms>01 Text
samples:
  Textfield:
    title: Text Field
    title_display: before
    required: true
    attributes: "~attributes({ for: 'edit-this-textfield' })"
  Checkbox:
    title: Checkbox Field
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-checkbox' })"
  Radio:
    title: Radio Field
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-radio' })"
  Textarea:
    title: Text Area Field
    title_display: before
    required: true
    attributes: "~attributes({ for: 'edit-this-textarea' })"
  Select:
    title: Select Box Field
    title_display: before
    required: true
    attributes: "~attributes({ for: 'edit-this-select' })"
  Checkbox1:
    title: Checkbox 1
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-checkbox-1' })"
  Checkbox2:
    title: Checkbox 2
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-checkbox-2' })"
  Checkbox3:
    title: Checkbox 3
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-checkbox-3' })"
  Radio1:
    title: Radio 1
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-radio-1' })"
  Radio2:
    title: Radio 2
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-radio-2' })"
  Radio3:
    title: Radio 3
    title_display: after
    required: false
    attributes: "~attributes({ for: 'edit-this-radio-3' })"
  Comment:
    title: Comment
    title_display: before
    required: false
    attributes: "~attributes({ for: 'edit-comment-body-0-value' })"
#}
{% include 'core/modules/system/templates/form-element-label.html.twig' %}
