{#
/**
 * @file
 * Default theme implementation for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/select.html.twig
 */
#}
{# @Component
name: Select Box
group: 01 Atoms>04 Form Elements
samples:
  Select:
    attributes: "~attributes({
      type: 'select',
      id: 'edit-this-select',
      name: 'this-select',
    })"
    options:
      one:
        type: option
        value: one
        label: Option 1
      two:
        type: option
        value: two
        label: Option 2
      three:
        type: option
        value: three
        label: Option 3
#}
{% include 'core/modules/system/templates/select.html.twig' %}
