{#
/**
 * @file
 * Default theme implementation for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/checkboxes.html.twig
 */
 @todo: remove this file once https://www.drupal.org/node/1819284 is resolved.
 This is identical to core/modules/system/templates/container.html.twig
#}
{# @Component
name: Checkboxes
group: 02 Molecules>Form Elements
samples:
  Checkboxes:
    attributes: "~attributes({
      type: 'checkboxes',
      id: 'edit-this-checkboxes',
      name: 'this-checkboxes',
    })"
    children:
      checkbox1: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Checkbox1')
      checkbox2: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Checkbox2')
      checkbox3: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Checkbox3')
#}
{% include 'core/modules/system/templates/checkboxes.html.twig' %}
