{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/input.html.twig
 */
#}
{# @Component
name: Input
group: 01 Atoms>04 Form Elements
samples:
  Textfield:
    attributes: "~attributes({
      type: 'textfield',
      id: 'edit-this-textfield',
      name: 'this-textfield',
      size: 60,
      'max-length': 128,
    })"
  Checkbox:
    attributes: "~attributes({
      type: 'checkbox',
      id: 'edit-this-checkbox',
      name: 'this-checkbox',
      value: 'this-checkbox',
    })"
  Radio:
    attributes: "~attributes({
      type: 'radio',
      id: 'edit-this-radio',
      name: 'this-radio',
      value: 'this-radio',
    })"
  Submit:
    attributes: "~attributes({
      type: 'submit',
      id: 'edit-this-submit',
      name: 'this-submit',
      value: 'Submit',
    })"
  Checkbox1:
    attributes: "~attributes({
      type: 'checkbox',
      id: 'edit-this-checkbox-1',
      name: 'this-checkbox-1',
      value: 'this-checkbox-1',
    })"
  Checkbox2:
    attributes: "~attributes({
      type: 'checkbox',
      id: 'edit-this-checkbox-2',
      name: 'this-checkbox-2',
      value: 'this-checkbox-2',
    })"
  Checkbox3:
    attributes: "~attributes({
      type: 'checkbox',
      id: 'edit-this-checkbox-3',
      name: 'this-checkbox-3',
      value: 'this-checkbox-3',
    })"
  Radio1:
    attributes: "~attributes({
      type: 'radio',
      id: 'edit-this-radio-1',
      name: 'this-radios',
      value: 'this-radio-1',
    })"
  Radio2:
    attributes: "~attributes({
      type: 'radio',
      id: 'edit-this-radio-2',
      name: 'this-radios',
      value: 'this-radio-2',
    })"
  Radio3:
    attributes: "~attributes({
      type: 'radio',
      id: 'edit-this-radio-3',
      name: 'this-radios',
      value: 'this-radio-3',
    })"
#}
{% include 'core/modules/system/templates/input.html.twig' %}
