{# @Component
name: Breakpoints
group: 00 Base>01 Grid
samples:
  Breakpoints:
    src: http://localhost/themes/custom/THEME_NAME/sassdoc/breakpoints.html#variable--breakpoints
#}
<iframe width="100%" height="100%" src="{{ src }}"></iframe>
