// Z Index
/// @group breakpoints
$z-layers: (
  bottomless-pit: -9999,
  basement: -1,
  default: 0,
  top: 1,
  dropdown: 400,
  overlay: 500,
  modal: 600,
);

/// @group breakpoints
/// @example scss
///   .foo {
///     z-index: z('overlay');
///   }
@function z($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }

  @warn "Unknown `#{$key}` in $z-layers.";
  @return null;
}
