{#
/**
 * @file
 * Default theme implementation for a text format-enabled form element.
 *
 * Available variables:
 * - children: Text format element children.
 * - description: Text format element description.
 * - attributes: HTML attributes for the containing element.
 * - aria_description: Flag for whether or not an ARIA description has been
 *   added to the description container.
 *
 * @see template_preprocess_text_format_wrapper()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/filter/templates/text-format-wrapper.html.twig
 */
#}
{# @Component
name: Filtered Text Area
group: 02 Molecules>Form Elements
samples:
  Comment:
    children:
      text_array:
        label: ~sample('@atoms/01-text/form-element-label/_form-element-label.html.twig#Comment')
        value: ~sample('@atoms/04-form-elements/textarea/_textarea.html.twig#Comment')
      guidelines: ~sample('@atoms/02-lists/text-filter-guidelines/_text-filter-guidelines.html.twig#Comment')
    attributes: "~attributes({
      class: ['text-full'],
      id: 'edit-comment-body-0--description',
    })"
    description: ~rendered('Describe the purpose of this field.')
#}
{% include 'core/modules/filter/templates/text-format-wrapper.html.twig' %}
