{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/user/templates/user.html.twig
 */
#}
{# @Component
name: User
group: 03 Organisms
samples:
  Default:
    attributes: "~attributes({
      typeof: 'schema:Person',
    })"
    content: ~rendered('<div class="form-item"><h4 class="label">Member For</h4>2 weeks 2 days</div>')

#}
{% include 'core/modules/user/templates/user.html.twig' %}
