{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Developer's Note: this is an atomic adjustment of the 8.4.x version of core/modules/system/templates/menu.html.twig
 * See also: patterns/02-molecules/menus/menu/_menu.html.twig
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - item: A menu item containing:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * - items: The original nested list of items.
 * - menu_level: The numerical level of nesting for this item.
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/menu.html.twig
 */
#}
{# @Component
name: Menu Item
group: 01 Atoms>00 Links
samples:
  Default:
    menu_level: 0
    item:
      attributes: "~attributes({ class: ['menu-item-class'] })"
      title: Home
      url: '/'
      options:
        class:
          - home
#}

{% import "@molecules/menus/menu/_menu.html.twig" as menus %}

<li{{ item.attributes }}>
  {% include "@atoms/00-links/link/_link.html.twig" with {
    'title': item.title,
    'url': item.url,
    'options': link_options,
  } only %}
  {% if item.below %}
    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
  {% endif %}
</li>