{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/breadcrumb.html.twig
 */
#}
{% include '@molecules/menus/breadcrumb/_breadcrumb.html.twig' %}
