{#
/**
 * @file
 * Default theme implementation for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/menu-local-action.html.twig
 */
#}
{% include '@atoms/00-links/local-action/_local-action.html.twig' %}
