{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.

 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/menu-local-tasks.html.twig
 */
#}
{% include '@molecules/menus/local-tasks/_local-tasks.html.twig' %}
