{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 * 
 * Original file: core/modules/system/templates/page-title.html.twig
 */
#}
{# @Component
name: Page Title
group: 01 Atoms>01 Text
samples:
  Default:
    title: Page Title
#}
{% include 'core/modules/system/templates/page-title.html.twig' %}
