{#
/**
 * @file
 * Default theme implementation for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 */
#}
{# @Component
name: Menu Local Action
group: 01 Atoms>00 Links
samples:
  Default:
    link: ~rendered('<a href="#">Add node</a>')
#}
{% include 'core/modules/system/templates/menu-local-action.html.twig' %}
