{#
/**
 * @file
 * Default theme implementation for the messages block.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/block--system-messages-block.html.twig
 */
#}
{# @Component
name: System Messages
group: 03 Organisms>Blocks
samples:
  Default:
    content: "TODO: Drupal-like examples"
#}
{% include 'core/modules/system/templates/block--system-messages-block.html.twig' %}
