{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Developer's Note: this is an atomic adjustment of the 8.4.x version of core/modules/system/templates/menu.html.twig
 * See also: patterns/01-atoms/00-links/menu-item/_menu-item.html.twig
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/menu.html.twig
 */
#}

{# @Component
name: Basic Menu
group: 02 Molecules>Menus
samples:
  Default:
    menu_name: basic-menu
    items:
      - attributes: "~attributes({})"
        title: Home
        url: '/'
        below:
          - attributes: "~attributes({})"
            title: Sub-Home
            url: '/sub-home'
      - attributes: "~attributes({})"
        title: Shop
        url: '/shop'
      - attributes: "~attributes({})"
        title: Search
        url: '/search'
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{% if menu_level == 0 %}{{ attributes }}{% endif %}>
    {% for item in items %}
      {% include "@atoms/00-links/menu-item/_menu-item.html.twig" %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
