{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Developer's Note: this is an atomic adjustment of the 8.4.x version of core/modules/system/templates/breadcrumb.html.twig
 * See also: patterns/02-molecules/menus/breadcrumb/_breadcrumb.html.twig
 *
 * Available variables:
 * - item: Breadcrumb item containing:
 *   - text
 *   - url: (optional)
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/breadcrumb.html.twig
 */
#}
{# @Component
name: Breadcrumb Item
group: 01 Atoms>00 Links
samples:
  Home:
    item:
      url: '#'
      text: Home
  Test:
    item:
      url: ''
      text: Test
#}
<li>
  {% if item.url %}
    <a href="{{ item.url }}">{{ item.text }}</a>
  {% else %}
    {{ item.text }}
  {% endif %}
</li>
