{#
/**
 * @file
 * Default theme implementation for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 *
 * @ingroup themeable
 */
#}
{# @Component
name: Menu Local Task
group: 01 Atoms>00 Links
samples:
  View:
    link: ~rendered('<a href="#" class="is-active">View</a>')
  Edit:
    link: ~rendered('<a href="#">Edit</a>')
  Delete:
    link: ~rendered('<a href="#">Delete</a>')
  Revisions:
    link: ~rendered('<a href="#">Revisions</a>')
#}
{% include 'core/modules/system/templates/menu-local-task.html.twig' %}
