{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 *
 * Original file: core/modules/system/templates/block--local-actions-block.html.twig
 */
#}
{% include '@organisms/menus/local-actions/_local-actions.html.twig' %}
