{#
/**
 * @file
 * Default theme implementation for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/radios.html.twig
 */
#}
{# @Component
name: Radios
group: 02 Molecules>Form Elements
samples:
  Radios:
    attributes: "~attributes({
      type: 'radios',
      id: 'edit-this-radios',
      name: 'this-radios',
    })"
    children:
      radio1: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Radio1')
      radio2: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Radio2')
      radio3: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Radio3')
#}
{% include 'core/modules/system/templates/radios.html.twig' %}
