{#
/**
 * @file
 * Default theme implementation of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/image.html.twig
 */
#}
{# @Component
name: Image
group: 01 Atoms>03 Images
samples:
  Basic:
    attributes: "~attributes({ src: asset('images/_samples/space-pirate-ship.jpg'), alt: '' })"
  SrcSet:
    attributes: "~attributes({
      src: asset('images/_samples/space-pirate-ship.jpg'),
      srcset: asset('images/_samples/space-pirate-ship-400.jpg') ~ ' 400w, ' ~ asset('images/_samples/space-pirate-ship-800.jpg') ~ ' 800w, ' ~ asset('images/_samples/space-pirate-ship-1290.jpg') ~ ' 1290w',
      alt: 'Responsive Image',
    })"
  100:
    attributes: "~attributes({ src: asset('images/_samples/space-pirate-ship-100.jpg'), alt: '' })"
  200:
    attributes: "~attributes({ src: asset('images/_samples/space-pirate-ship-200.jpg'), alt: '' })"
  400:
    attributes: "~attributes({ src: asset('images/_samples/space-pirate-ship-400.jpg'), alt: '' })"
  800:
    attributes: "~attributes({ src: asset('images/_samples/space-pirate-ship-800.jpg'), alt: '' })"
  1290:
    attributes: "~attributes({ src: asset('images/_samples/space-pirate-ship-1290.jpg'), alt: '' })"
#}
{% include 'core/modules/system/templates/image.html.twig' %}
