{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/form.html.twig
 */
#}
{# @Component
name: Form
group: 03 Organisms>Forms
samples:
  Default:
    children:
      this_textfield: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Textfield')
      this_checkbox: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Checkbox')
      this_radio: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Radio')
      this_textarea: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Textarea')
      this_select: ~sample('@molecules/form-elements/form-element/_form-element.html.twig#Select')
      this_checkboxes: ~sample('@organisms/forms/fieldset/_fieldset.html.twig#Checkboxes')
      this_radios: ~sample('@organisms/forms/fieldset/_fieldset.html.twig#Radios')
      this_submit: ~sample('@atoms/04-form-elements/input/_input.html.twig#Submit')
#}
{% include 'core/modules/system/templates/form.html.twig' %}
