{#
/**
 * @file
 * Default theme implementation for a set of filter tips.
 *
 * Available variables:
 * - tips: Descriptions and a CSS ID in the form of 'module-name/filter-id'
 *   (only used when 'long' is TRUE) for each filter in one or more text
 *   formats.
 * - long: A flag indicating whether the passed-in filter tips contain extended
 *   explanations, i.e. intended to be output on the path 'filter/tips'
 *   (TRUE), or are in a short format, i.e. suitable to be displayed below a
 *   form element. Defaults to FALSE.
 * - multiple: A flag indicating there is more than one filter tip.
 *
 * @see template_preprocess_filter_tips()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/filter/templates/filter-tips.html.twig
 */
#}
{# @Component
name: Text Filter Tips
group: 01 Atoms>02 Lists
samples:
  Comment:
    multiple: false
    tips:
      - list:
        - tip: "~rendered('Allowed HTML tags: &lt;a href hreflang&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;blockquote cite&gt; &lt;code&gt; &lt;ul type&gt; &lt;ol start type&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;h2 id&gt; &lt;h3 id&gt; &lt;h4 id&gt; &lt;h5 id&gt; &lt;h6 id&gt;')"
        - tip: Lines and paragraphs break automatically.
        - tip: Web page addresses and email addresses turn into links automatically.
#}
{% include 'core/modules/filter/templates/filter-tips.html.twig' %}
