{#
/**
 * @file
 * Default theme implementation for guidelines for a text format.
 *
 * Available variables:
 * - format: Contains information about the current text format, including the
 *   following:
 *   - name: The name of the text format, potentially unsafe and needs to be
 *     escaped.
 *   - format: The machine name of the text format, e.g. 'basic_html'.
 * - attributes: HTML attributes for the containing element.
 * - tips: Descriptions and a CSS ID in the form of 'module-name/filter-id'
 *   (only used when 'long' is TRUE) for each filter in one or more text
 *   formats.
 *
 * @see template_preprocess_filter_tips()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/filter/templates/filter-guidelines.html.twig
 */
#}
{# @Component
name: Text Filter Guidelines
group: 01 Atoms>02 Lists
samples:
  Comment:
    format:
      name: filtered_html
      label: Restricted HTML
    attributes: "~attributes({
      class: ['filter-guidelines', 'form-wrapper'],
      id: 'edit-comment-body-0-format-guidelines',
    })"
    tips: ~sample('@atoms/02-lists/text-filter-guidelines/_text-filter-tips.html.twig#Comment')
#}
{% include 'core/modules/filter/templates/filter-guidelines.html.twig' %}
