{#
/**
 * @file
 * Default theme implementation for displaying a username.
 *
 * Available variables:
 * - account: The full account information for the user.
 * - uid: The user ID, or zero if not a user. As used in anonymous comments.
 * - name: The user's name, sanitized, and optionally truncated.
 * - name_raw: The user's name, un-truncated.
 * - truncated: Whether the user's name was truncated.
 * - extra: Additional text to append to the user's name, sanitized.
 * - profile_access: Whether the current user has permission to access this
     users profile page.
 * - link_path: The path or URL of the user's profile page, home page,
 *   or other desired page to link to for more information about the user.
 * - homepage: (optional) The home page of the account, only set for non users.
 * - link_options: Options to set on the \Drupal\Core\Url object if linking the
 *   user's name to the user's page.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_username()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/user/templates/username.html.twig
 */
#}
{# @Component
name: Username
group: 01 Atoms>01 Text
samples:
  Linked:
    link_path: true
    attributes: "~attributes({
      title: 'View user profile.',
      href: '/user/1',
      about: '/user/1',
      typeof: 'schema:Person',
      property: 'schema:name',
    })"
    name: user_name
  Plain:
    attributes: "~attributes({
      typeof: 'schema:Person',
      property: 'schema:name',
    })"
    name: user_name
#}
{% include 'core/modules/user/templates/username.html.twig' %}
