{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/block--system-branding-block.html.twig
 */
#}
{# @Component
name: Branding
group: 03 Organisms>Blocks
samples:
  Default:
    site_logo: ~asset('logo.png')
    site_name: Site Name
    site_slogan: This Site's Purpose!
#}
{% include 'core/modules/system/templates/block--system-branding-block.html.twig' %}
