{# @Component
name: Color Palette
group: 00 Base>00 Global
samples:
  Descriptive-Colors:
    src: http://localhost/themes/custom/THEME_NAME/sassdoc/colors.html#variable--descriptive-colors
  Structure-Colors:
    src: http://localhost/themes/custom/THEME_NAME/sassdoc/colors.html#variable--structure-colors
#}
<iframe width="100%" height="100%" src="{{ src }}"></iframe>