// Ratios
// ------
/// @group scale
/// @ratios text-scale
$text-scale: (
  'text-ratio': 1.3,
);
$ratios: map-merge($ratios, $text-scale);
@include herman-add('ratios', 'text-scale', $text-scale, 'ratio');


// Text Sizes
// ----------
/// @group scale
/// @sizes text-sizes
$text-sizes: (
  'text': 1rem,
  'text--xsmall': 'text' ('text-ratio': -2),
  'text--small': 'text' ('text-ratio': -1),
  'text--large': 'text' ('text-ratio': 1),
  'text--xlarge': 'text' ('text-ratio': 3),
  'text--giant': 'text' ('text-ratio': 5),
);
$sizes: map-merge($sizes, $text-sizes);
@include herman-add('sizes', 'text-sizes', $text-sizes, 'size');

// Spacing
// -------
/// @group scale
/// @sizes spacing {ruler}
$spacing: (
  'space--xsmall': 0.3125rem,
  'space--small': 'space--xsmall' ('times': 2),
  'space': 'space--xsmall' ('times': 3),
  'space--large': 'space--xsmall' ('times': 4),
  'space--xlarge': 'space--xsmall' ('times': 5),
  'line-height': 'space--xsmall' ('times': 5),
);
$sizes: map-merge($sizes, $spacing);
@include herman-add('sizes', 'spacing', $spacing, 'size');