{# @Component
name: Ratios & Scales
group: 00 Base>00 Global
samples:
  Text-Scale:
    src: http://localhost/themes/custom/THEME_NAME/sassdoc/scale.html#variable--text-scale
  Text-Sizes:
    src: http://localhost/themes/custom/THEME_NAME/sassdoc/scale.html#variable--text-sizes
  Spacing:
    src: http://localhost/themes/custom/THEME_NAME/sassdoc/scale.html#variable--spacing
#}
<iframe width="100%" height="100%" src="{{ src }}"></iframe>