{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 *
 * Original file: core/modules/system/templates/maintenance-page.html.twig
 */
#}
{% include '@pages/maintenance/_maintenance.html.twig' %}
